
.pane2{
     -fx-background-color: #a8ccd780;
     -fx-border-radius:4px;
     -fx-border-width: 5;
     -fx-border-color: linear-gradient(gray,gray);

}
.button{
    -fx-background-radius:100px;
}




.loginB{

    -fx-background-color: transparent;
    -fx-border-radius:5px;
    -fx-font-weight: bold;
    
    -fx-text-fill: white;
   
}

.loginB:hover {
    -fx-background-color:#a8ccd780;
    -fx-background-radius: 10px;
   
    
    -fx-background-insets: 0;
}


.introB{

    -fx-background-color: transparent;   
    -fx-font-weight: bold;   
    -fx-text-fill: white;
   
}

.introB:hover {
    -fx-background-color:#a8ccd780;
    -fx-background-insets: 0;
}

.label{
    -fx-font-weight: bold;
    -fx-font-size: 10;
}
.text-field{
    -fx-font-size: 15;
    -fx-prompt-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-width: 3;
    -fx-text-fill: cyan;
   
    
}
.text-field:hover{
    -fx-font-size: 20;
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-border-width: 0 0 3 0;

    
      
}
