@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}

.text {
    -fx-font-family: "Roboto";
    
}


.pane2{
   
     -fx-border-radius:4px;
     -fx-border-width: 5;

}





.loginB{

    -fx-background-color: red;
    -fx-border-radius:5px;
    -fx-font-weight: bold;
    
    -fx-text-fill: #FDFEFF;
   
}

.loginB:hover {
    -fx-background-color: violet;
    -fx-background-radius: 5px;
   
    
    -fx-background-insets: 0;
}



.label{
    fx-text-fill: #e10600;
    -fx-font-weight: bold;
    -fx-font-size: 10;
}
.text-field{
    -fx-font-size: 15;
    -fx-prompt-text-fill: #000000;
    -fx-background-color: transparent;
    -fx-border-width: 3;
    -fx-text-fill: black;
   
    
}
.text-field:hover{
    -fx-font-size: 20;
    -fx-border-style: solid;
    -fx-border-color: red;
    -fx-border-width: 0 0 3 0;
        -fx-text-fill: red;
 
    
      
}
.roundB{
   -fx-background-color: black;
    -fx-border-radius:5px;
    -fx-font-weight: bold;
    
    -fx-text-fill: #FDFEFF;
                
                -fx-max-width: 100px;  
                
}
.roundB:hover {
    -fx-background-color: violet;
    -fx-background-radius: 5px;
   
    
    -fx-background-insets: 0;
}
.msgtxt{
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

