

.text {
    -fx-font-family: "Roboto";

}

.anchorP{
    -fx-background-color: white;
}



.pane2{

    -fx-border-radius:4px;
    -fx-border-width: 5;

}


.picButton:hover{
    -fx-border-color: black;

}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: transparent;
}


.xtraButton{
    
    -fx-background-color: transparent;
    -fx-border-color : gray;
}

.xtraButton:hover{
    
    -fx-background-color: gray;
    
}





.menuButton{
    
    -fx-background-color: transparent;
    
}

.menuButton:hover{
    
    -fx-background-color: gray;
    
}

.menuButton:pressed{
    
    -fx-background-color: #5b6467;
    }

.logOutB{
    -fx-background-radius: 5em;
                -fx-min-width: 25px; 
                -fx-min-height: 25px;  
                -fx-max-width: 25px;  
                -fx-max-height: 25px;
        
    -fx-background-color: transparent;
    
}

.logOutB:hover{
    
    -fx-background-color: gray;
    
}

.logOutB:pressed{
    
    -fx-background-color: #5b6467;
    }



.loginB{

    -fx-background-color: red;
    -fx-border-radius:5px;
    -fx-font-weight: bold;

    -fx-text-fill: #FDFEFF;

}

.loginB:hover {
    -fx-background-color: #EA4C46;
    -fx-background-radius: 5px;


    -fx-background-insets: 0;
}

.loginB:pressed {
    -fx-background-color: black;
    -fx-background-radius: 5px;

    -fx-text-fill: red;

    -fx-background-insets: 0;
}




.dashButton{
    
    
    -fx-background-color: red;
    -fx-border-radius:5px;
    -fx-font-weight: bold;

    -fx-text-fill: #FDFEFF;
    
    
}



.dashButton:hover {
    -fx-background-color: violet;
    -fx-background-radius: 5px;


    -fx-background-insets: 0;
}



.label{
    fx-text-fill: #e10600;
    -fx-font-weight: bold;
    -fx-font-size: 10;
}
.text-field{
    -fx-font-size: 15;
    -fx-prompt-text-fill: #000000;
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-color: gray;
    -fx-border-width: 0 0 3 0;
    
    
    -fx-text-fill: black;


}
.text-field:hover{
    -fx-font-size: 20;
    -fx-border-style: solid;
    -fx-border-color: red;
    -fx-border-width: 0 0 3 0;
    -fx-text-fill: red;



}


.roundB{
    -fx-background-color: black;
    -fx-border-radius:5px;
    -fx-font-weight: bold;

    -fx-text-fill: #FDFEFF;

    -fx-max-width: 100px;  

}
.roundB:hover {
    -fx-background-color: #202020;
    -fx-background-radius: 5px;


    -fx-background-insets: 0;
}

.roundB:pressed {
    -fx-background-color: red;
    -fx-background-radius: 5px;

    -fx-text-fill: black;
    -fx-background-insets: 0;
}


.msgtxt{
    -fx-font-weight: bold;
    -fx-font-size: 16;
}




.scroll-pane {
    -fx-background-color: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: black;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: black;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}



